In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Resources/Athlete_genie.csv")

In [3]:
# Fill in null values for Age with medians based on Sex and Sport

medians = df.groupby(['Sex','Sport'])['Age'].transform('median')

df['Age'] = df['Age'].fillna(medians)

In [4]:
# Fill in null values for Height with medians based on Sex and Sport

medians = df.groupby(['Sex','Sport'])['Height'].transform('median')

df['Height'] = df['Height'].fillna(medians)

In [5]:
# Fill in null values for Weight with medians based on Sex and Sport

medians = df.groupby(['Sex','Sport'])['Weight'].transform('median')

df['Weight'] = df['Weight'].fillna(medians)

In [6]:
# Fill in null values for Medal

df["Medal"] = df["Medal"].fillna("No Medal")

In [10]:
# Filter for years >= 1940

df_filtered = df[df['Year']>=1950]

In [11]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 224864 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      224864 non-null  int64
 1   Name    224864 non-null  object
 2   Sex     224864 non-null  object
 3   Age     224864 non-null  float64
 4   Height  224864 non-null  float64
 5   Weight  224864 non-null  float64
 6   Team    224864 non-null  object
 7   NOC     224864 non-null  object
 8   Games   224864 non-null  object
 9   Year    224864 non-null  int64
 10  Season  224864 non-null  object
 11  City    224864 non-null  object
 12  Sport   224864 non-null  object
 13  Event   224864 non-null  object
 14  Medal   224864 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 27.4+ MB

In [12]:
df.to_csv('Resources/athlete_for_tableau_1950.csv', index=False)